{% extends 'layouts/dashboard/dashboard.html.twig' %} {% block body %}

<section id="product-add">
  <form method="POST">
    <input
      required
      type="text"
      name="category"
      placeholder="Enter product category..."
      value="{{ product.category }}"
    />
    <input
      required
      type="text"
      name="name"
      placeholder="Enter product name..."
      value="{{ product.name }}"
    />
    <input
      required
      type="text"
      name="title"
      placeholder="Enter product title..."
      value="{{ product.title }}"
    />
    <textarea
      type="text"
      name="description"
      placeholder="Enter product description..."
      rows="5"
      maxlength="255"
      value="{{ product.description }}"
    ></textarea>
    <input
      required
      type="number"
      name="price"
      placeholder="Enter product price..."
      value="{{ product.price }}"
    />
    <input
      required
      type="text"
      name="image"
      placeholder="Enter image link..."
      value="{{ product.image }}"
    />
    <button type="submit">Update</button>
  </form>
</section>

{% endblock %}
